@import "../../../../colors";

:host {
  display: flex;
  align-items: center;
  max-height: 72px;
  min-height: 72px;
}

.home-link {
  font-size: 1.2rem;
  color: $link-color;
  text-decoration: none;
}

.home-logo {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  display: inline-block;
}

.version {
  color: $primary-text-color;
  font-size: 8px;
  text-align: center;
  padding-top: 5px;
}
