.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

.modal {
    background: #3e3e3e;
    line-height: 24px;
    color: #fff !important;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 800px;
    text-align: center;
    transition: 2s;
    max-height: 90vh;
    overflow: auto;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    .reject-btn {
        background: #e63946;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
    }

    .accept-btn {
        background: #2a9d8f;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;

        &:hover {
            height: 500px;
        }
    }
}

button {
    cursor: pointer;
}

.actions.column {
    flex-direction: column;
    gap: 0.75rem;
}

.essential-btn {
    background: #f4a261;
    color: #fff;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border: none;

    &:hover {
        height: 200px;
    }
}

.customize-btn {
    color: #7c0a06;
    background: transparent;
    border: none;

    &:hover {
        padding-left: 400px;
    }
}

.checkbox-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    p {
        text-align: start;
    }
}

.confirm-btn {
    background: #2a9d8f;
    color: #fff;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border: none;
}

// CHECKBOX STYLES

.checkbox-wrapper-s .check {
    --size: 40px;

    position: relative;
    background: linear-gradient(90deg, #0ff, rgb(1, 194, 194));
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
}

.checkbox-wrapper-s .check input[type="checkbox"],
.checkbox-wrapper-s .check label,
.checkbox-wrapper-s .check label::before,
.checkbox-wrapper-s .check label::after,
.checkbox-wrapper-s .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox-wrapper-s .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
}

.checkbox-wrapper-s .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    outline: none;
    margin: 0;
}

.checkbox-wrapper-s .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
}

.checkbox-wrapper-s .check input[type="checkbox"]:checked+label {
    background: transparent;
}

.checkbox-wrapper-s .check label::before,
.checkbox-wrapper-s .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
}

.checkbox-wrapper-s .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper-s .check input[type="checkbox"]:checked+label::before,
.checkbox-wrapper-s .check input[type="checkbox"]:checked+label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
}

.checkbox-wrapper-s .check input[type="checkbox"]:checked+label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
}