@import "../../colors";

.start-button {
  background: linear-gradient(
    135deg,
    $color-color-reaction,
    lighten-color($color-color-reaction, 0.2)
  );
  color: $button-text-color;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.3s ease;
  width: 480px;
  margin: 4px 2px;

  &:hover {
    background: linear-gradient(
      100deg,
      lighten-color($color-color-reaction, 0.2),
      $color-color-reaction
    );
    transform: translateY(-2px);
  }

  &:disabled {
    background: #b0bec5;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba($color-color-reaction, 0.5);
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  color: $primary-text-color;
  background-color: rgba($color: #000000, $alpha: 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 12%;
  top: calc(50% - 45vh);
  left: calc(50% - 40vw);
  width: 80vw;
  height: 90vh;
  transition: all 0.5s ease-in-out;
  opacity: 1;

  & .start-button {
    margin-top: 42px;
  }

  &-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.game-container {
  color: $primary-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  min-height: calc(100vh - 88px);
  padding: 20px;
  user-select: none;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.score,
.timer {
  font-size: 1.25rem;
  margin: 10px 0;
}

.current-color {
  font-size: 1.25rem;
  margin: 20px 0;
}

.current-color p {
  margin: 0;
  font-weight: bold;
}

.color-display {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid $primary-text-color;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: max-content;
}

.color {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
  border: 1px solid $primary-text-color;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 600px) {
  .game-container {
    justify-content: start;
    padding-top: 0;
  }

  .header {
    flex-direction: column;
    align-items: center;

    * {
      font-size: 14px;
    }
  }

  .color-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .color {
    height: 70px;
  }

  .color-display {
    width: 80px;
    height: 80px;
  }

  .overlay {
    left: calc(50% - 41vw);
    width: 82vw;
  }

  .start-button {
    width: 75%;
  }
}
