<div class="seabattle-container">
  <div class="board-wrapper">
    <div class="top-labels">
      <div class="top-number" *ngFor="let n of numbers">{{ n }}</div>
    </div>

    <div class="board-with-labels">
      <div class="row-with-label" *ngFor="let row of grid; let y = index">
        <div class="left-label">{{ letters[y] }}</div>
        <div class="row">
          <div
            class="cell"
            *ngFor="let cell of row; let x = index"
            [ngClass]="cell.state"
            [ngStyle]="{ 'background-color': getCellColor(x, y) }"
            (click)="onCellClick(x, y)"
          >
            <div class="probability">
              {{ probabilityMatrix[y][x] > 0 ? probabilityMatrix[y][x] : "" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
