.space {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #0b0c2a 0%, #000000 100%);
  overflow: hidden;
  z-index: -1;
  top: 0;
}

.star {
  position: absolute;
  background: rgb(235, 235, 235);
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle linear infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.shooting-star {
  position: absolute;
  width: 2px;
  height: 80px;
  background: linear-gradient(rgb(100, 94, 4), transparent);
  transform: rotate(135deg);
  opacity: 0;
  animation: shoot linear infinite;
}

@keyframes shoot {
  0% {
    transform: translate(0, 0) rotate(135deg);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(800px, 800px) rotate(135deg);
    opacity: 0;
  }
}
