<div class="space">
  <div
    class="star"
    *ngFor="let star of stars"
    [style.top.%]="star.top"
    [style.left.%]="star.left"
    [style.width.px]="star.size"
    [style.height.px]="star.size"
    [style.animation-duration.s]="star.duration"
    [style.animation-delay.s]="star.delay"
  ></div>

  <div
    class="shooting-star"
    *ngFor="let s of shootingStars"
    [style.top.%]="s.top"
    [style.left.%]="s.left"
    [style.animation-duration.s]="s.duration"
    [style.animation-delay.s]="s.delay"
  ></div>
</div>
