<app-reject-cookies-website></app-reject-cookies-website>

<!-- <div class="header">
    <h3 class="title">How many months are left, and how will they be spent?</h3>
    <div class="controls">
      <div class="control">
        <label for="age">Current Age:</label>
        <input type="number" id="age" [formControl]="form.controls.age" min="0" max="70" />
      </div>
      <div class="control">
        <label for="liveto">Live until (y.o):</label>
        <input type="number" id="liveto" [formControl]="form.controls.liveto" min="70" max="100" />
      </div>
    </div>
  </div> -->