@import "../../../colors";

.website {
  display: flex;
  line-height: 32px;
  height: calc(100% - 88px);
  justify-content: space-between;
  flex-direction: column;
}

.hero {
  text-align: center;
  padding: 3rem;
  color: $color-reject-cookies;

  h1 {
    font-size: clamp(1rem, 6vw, 2rem);
    margin-bottom: 1rem;
    line-height: 1.2;
    word-break: break-word;
  }

  p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: #ccc;
    margin: 0 auto;
  }
}

.features {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  padding-top: 0;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .feature-card {
    background: #111;
    padding: 1.5rem;
    border: 2px dashed $color-reject-cookies;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    h2 {
      margin-bottom: 16px;
      font-size: 14px;
      color: $color-reject-cookies;
    }

    p {
      font-size: 12px;
    }

    &:hover {
      transform: translateY(-5px) scale(1.03);
      box-shadow: 0 10px 30px rgba($color-reject-cookies, 0.3);
    }
  }
}

footer {
  background: #1a1a1a;
  color: #999;
  text-align: center;
  padding: 1rem;
}

.game-result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  user-select: none;

  button {
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }

  div {
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: #fff;
    animation:
      pop 0.6s ease,
      fadeOut 3s 1s forwards;
  }

  .win {
    background: linear-gradient(
      45deg,
      $color-reject-cookies,
      lighten-color($color-reject-cookies, 0.15)
    );
  }

  .lose {
    background: linear-gradient(
      45deg,
      $color-months-left,
      darken-color($color-months-left, 0.15)
    );
  }
}
