<div
  class="game-container"
  [ngClass]="{
  'green-background': guessStatus === 'success',
  'red-background': guessStatus === 'fail',
}"
>
  <div class="container">
    <h1>Guess the Flag!</h1>
    <div class="img">
      <img
        [src]="'https://flagcdn.com/' + currentCountry?.code + '.svg'"
        alt="Flag"
        class="flag-image"
      />
    </div>

    <input
      [(ngModel)]="userGuess"
      (keyup.enter)="onEnterKey()"
      placeholder="Country name"
      class="guess-input"
    />

    <button (click)="checkAnswer()" class="check-button">Check Answer</button>
  </div>
</div>
