<div
  class="game-container"
  [ngClass]="{
    'green-background': guessStatus === 'success',
    'red-background': guessStatus === 'fail'
  }"
>
  <div class="container">
    <div class="img">
      <img
        [ngClass]="{
          'bandw': isInsaneMode,
        }"
        [src]="'https://flagcdn.com/' + currentCountry?.code + '.svg'"
        alt="Flag"
        class="flag-image"
      />
    </div>

    <div *ngIf="!isMultipleChoiceMode">
      <input
        [(ngModel)]="userGuess"
        (keyup.enter)="onEnterKey()"
        placeholder="Country name"
        class="guess-input"
      />
    </div>

    <div *ngIf="isMultipleChoiceMode">
      <div *ngFor="let country of countryOptions">
        <button
          class="guess-button"
          (click)="checkMultipleChoiceAnswer(country)"
        >
          {{ country.name }}
        </button>
      </div>
    </div>

    <button
      *ngIf="!isMultipleChoiceMode"
      (click)="checkAnswer()"
      class="check-button"
    >
      Check Answer
    </button>
  </div>
  <div class="mode-selector">
    <label>
      <input
        type="checkbox"
        name="insaneMode"
        [(ngModel)]="isInsaneMode"
        [value]="false"
        (ngModelChange)="onModeChange()"
      />
      Insane difficulty
    </label>
    <label>
      <input
        type="radio"
        name="mode"
        [(ngModel)]="isMultipleChoiceMode"
        [value]="false"
        (ngModelChange)="onModeChange()"
      />
      Medium difficulty
    </label>
    <label>
      <input
        type="radio"
        name="mode"
        [(ngModel)]="isMultipleChoiceMode"
        [value]="true"
        (ngModelChange)="onModeChange()"
      />
      Easy difficulty
    </label>
  </div>
</div>
