@import '../../colors';

.game-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top: 80px;
    color: $primary-text-color;
    width: 100%;
    transition: background-color 1s ease;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    position: relative;
}

.green-background {
    background: radial-gradient(circle closest-side, #5B913B, #121212);
}

.red-background {
    background: radial-gradient(circle closest-side, #B82132, #121212);
}

.bandw {
    filter: grayscale(100%);
}

.flag-image {
    max-width: 480px;
    height: auto;
    margin: 20px 0;
    justify-self: center;
    border: 2px solid $primary-text-color;
}

.guess-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 480px;
    min-width: 480px;
    align-self: center;
}

.check-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 15px 2px;
    max-width: 480px;
    min-width: 480px;
    align-self: center;
}

.check-button:hover {
    background-color: #45a049;
}

.mode-selector {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.mode-selector label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.mode-selector input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    border: 2px solid #bbb;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    transition: background-color 0.3s, border-color 0.3s;
}

.mode-selector input[type="radio"]:checked {
    background-color: #4caf50;
    border-color: #4caf50;
}

.mode-selector input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}

.mode-selector label:hover input[type="radio"] {
    border-color: #888;
}

label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
    border: 2px solid #bbb;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #4caf50;
    border-color: #4caf50;
}

input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: white;
    transition: background-color 0.3s;
}

label:hover input[type="checkbox"] {
    border-color: #888;
}

.guess-button {
    background: linear-gradient(135deg, #98D8EF, #3B6790);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    width: 480px;
    margin: 4px 2px;

    &:hover {
        background: linear-gradient(100deg, #98D8EF, #3B6790);
    }

    &:disabled {
        background: #B0BEC5;
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(159, 193, 8, 0.5);
    }
}

@media (max-width: 550px) {
    .flag-image {
        max-width: 200px;
    }

    h1 {
        display: none;
    }

    .guess-input,
    .check-button,
    .guess-button {
        width: 237px;
        min-width: 100px;
        font-size: 10px;
        line-height: 15px;
    }

    .mode-selector label {
        font-size: 10px;
    }

}