@import '../../colors';

.home-container {
    background-color: $primary-bg-color;
    color: $primary-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    user-select: none;
    margin-top: -72px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1200px;
}

.game-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.game-button {
    width: 100%;
    padding: 15px;
    background-color: $button-bg-color;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;

    &:hover {
        filter: brightness(50%);
    }
}

.game-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media (max-width: 900px) {
    .game-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1.1rem;
    }
}

@media (max-width: 780px) {
    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .home-container {
        justify-content: start;
        padding-top: 100px;
    }

    .game-list {
        grid-template-columns: 1fr;
    }

    .game-button {
        font-size: 1rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .description {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 0.8rem;
    }

    .description {
        font-size: 0.5rem;
    }
}