<div class="home-container">
  <div>
    <h1
      appTypewriter
      [text]="'Welcome to Infinity Fun!'"
      [speed]="50"
      class="title"
    ></h1>
  </div>
  <div>
    <p
      appTypewriter
      [text]="'Choose a game to start playing'"
      [speed]="100"
      class="description"
    ></p>
  </div>

  <ul class="game-list">
    <li *ngFor="let game of games" class="game-item">
      <button
        (click)="navigateToGame(game.route)"
        class="game-button"
        [style.background-color]="game.color"
      >
        <img
          *ngIf="game.imageUrl"
          [src]="game.imageUrl"
          alt="{{ game.name }}"
          class="game-image"
        />
        {{ game.name }}
      </button>
    </li>
  </ul>
</div>
